*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100vw;
    height: 10vh;
    background-color: #0174BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}
.navOption{
    margin-right: 20px;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
}
h1{
    color: white;
    margin-left: 20px;
    font-family: sans-serif;   
}
.main{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 20px;
}
.paragraph1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.paragraph2{
    font-family: sans-serif;
    font-weight: bold;   
}
.submit{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    align-self: center;
    background-color: #BE3144;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.signupInput{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}